<div style="width: 40%; margin-left: 30%; text-align: center">
  <h1 style="margin-bottom: 50px">Paw Select</h1>
  <select
    name="cars"
    id="cars"
    style="width: 60%"
    [(ngModel)]="selectedBreedName"
    (change)="onBreedChange()"
  >
    <option
      *ngFor="let breedName of breedNames"
      [value]="breedName"
      
    >
      {{ breedName }}
    </option>
  </select>

  <div style="margin-top: 50px;" >
    <p *ngIf="!imgFoundFlag">
      {{msg}}
    </p> 
    <img
      *ngIf="imgFoundFlag"
      style="width: 400px; height: 400px"
      [src]="breedImageUrl"
      alt=""
    />
  </div>
</div>
