<div class="main-div">
  <h1 style="margin-bottom: 50px">Paw Select</h1>
  <select
    name="cars"
    id="cars"
    style="width: 60%"
    [(ngModel)]="selectedBreedName"
    (change)="onBreedChange()"
  >
    <option
      *ngFor="let breedName of breedNames"
      [value]="breedName"
      
    >
      {{ breedName }}
    </option>
  </select>

  <div class="div-img" >
    <p *ngIf="!imgFoundFlag">
      {{msg}}
    </p> 
    <img
      class="dog-img"
      *ngIf="imgFoundFlag"
      [src]="breedImageUrl"
      alt=""
    />
  </div>
</div>
